<div id='content' class='flex-1 mx-auto p-8'>
    <h1 class = 'text-center'>CJ Vaughn</h1>
    <p>
        Full Stack Web Developer with an extensive technical background as a Nuclear Reactor Operator and Technical Support Specialist. Proven ability to quickly learn and apply technical information and communicate it in an easy-to-understand language.  Effectively collaborates with others to ensure goals are achieved in a timely fashion. Recognized as a proactive, resourceful, and persistent problem solver.
    </p>
</div>