

<div class="max-w-sm rounded overflow-hidden shadow-lg mx-auto mt-4">
    <img class="w-full image-size rotateimg90" src="/image/CJpic.jpg" alt="CJ Vaughn">
    <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">CJ Vaughn</div>
        <p class="text-grey-darker text-base">
            Full Stack Web Developer with an extensive technical background as a Nuclear Reactor Operator and Technical
            Support Specialist. Proven ability to quickly learn and apply technical information and communicate it in an
            easy-to-understand language. Effectively collaborates with others to ensure goals are achieved in a timely
            fashion. Recognized as a proactive, resourceful, and persistent problem solver.
        </p>
    </div>
</div>