<div id='content' class='flex-1 mx-auto p-8'>
    <h1>Sticky Footer Demo</h1>
    <div class = "mt-5 border-red border-solid border-8 flex">
        <img src = "" alt = "test image" class = "w-1/2 bg-grey-light h-12">
        <ul class = "w-1/2 bg-grey-light h-12">
            <li>Project name: </li>
            <li>Project URL:<a href="">Herp</a></li>
            <li>GitHub URL:<a href="">Herp</a></li>
            <li>Description:</li> 
        </ul>
    </div>
</div>