body{
    font-family: 'El Messiri', sans-serif;
}

#submission {
    pointer-events: none;
}

.about-me-text{
    font-size: 20px;
}

ul{
    list-style: none;
}

.project-text{
    font-size: 18px;
}

.rotateimg90 {
    -webkit-transform:rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.project-image{
    width: 100%;
    height: 100%;
}
.image-size {
    width: 60%;
    height: 60%;
    margin-bottom: 2em;
    margin-left: 10em;
}

.link:hover{
    text-decoration: underline;
}

.name{
    text-decoration: underline;
    font-weight: bold;
}

.myproject{
    font-size: 20px;
}