body{
    font-family: 'El Messiri', sans-serif;
}

ul{
    list-style: none;
}

.rotateimg90 {
    -webkit-transform:rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.image-size {
    width: 60%;
    height: 60%;
    margin-bottom: 2em;
    margin-left: 5em;
}